<html>
    <head>
        <title>Get A Quote</title>
        <link rel="stylesheet" href="../public/logstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a class="linknot" href="/">
            Swift Guard
          </a>
        </div>

        <div class="main-menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#aboutus">About Us</a>
            </li>
            <li>
              <a href="/#how-it-works">How It Works</a>
            </li>
            <li>
              <a class="btn" href="/login"> <i class="fas fa-money-check"></i>Login/Register</a>
            </li>
          </ul>
        </div>
        <!-- Hamburger Button -->
        <button class="hamburger-button">
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
        </button>
        <div class="mobile-menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#aboutus">About Us</a>
            </li>
            <li>
              <a href="/#how-it-works">How It Works</a>
            </li>
            <li>
              <a class="btn" href="/login"> <i class="fas fa-user"></i> Login/Register </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <div class="sign-up-form">
            <h1>Get A Quote</h1>
            <form>
                <input type="text" class="input-box" placeholder="Your Name" required>
                <input type="email" class="input-box" placeholder="Your Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Enter a valid email address">
                <input type="tel" class="input-box" placeholder="+254xxxxxxxxx" required pattern="^\+254\d{9}$" title="Enter a valid Kenyan phone number (+254 followed by 9 digits)">
                <input type="number" class="input-box" placeholder="Number Of Vehicles" min="1">
                <p><span><input type="checkbox" required></span>I agree to the <a href="#">terms and conditons</a></p>
                <p><span><input type="checkbox" required></span>I agree to the <a href="#">privacy policy</a></p>
                <button type="submit" class="sign-btn">Submit</button>
            </form>
        </div>
        <script src="../jscript/login.js" async defer></script>
        <script src="../jscript/main.js" async defer></script>
    </body>
</html>